@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  color: #ffffff; 
}

body{
  background: #1e1e1e;
}
/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}

* About Section Styling */
section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #ffffff;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .sn span{
  color: #171616;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #9e0000;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.about-details .right{
  width: 55%;
}

.about-details .right p{
  text-align: justify;
  color: #ffffff;
}
/* Custom Scroll Bar END  */



/* view resume button */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #9e0000;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}
.cta:hover span {
  color: white;
}
.cta:active {
  transform: scale(0.95);
}
/* view resume button end */


.spaceboy{
  margin-top: 20px;
}


 /* My Skills CSS */
 .skills{
   background: #F0F8FF;
 }
 .skills .content{
   padding: 40px 0;
 }
 .skills .skills-details{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .skills-details .text{
   width: 50%;
 }
 .skills-details p{
   color: #121212;
   text-align: justify;
 }
.skills .skills-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num{
  color: #0E2431;
  font-size: 80px;
}
.skills-details .experience .exp{
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.skills-details .boxes{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-details .box{
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}

.skills-details .boxes .per{
  font-size: 60px;
  color: #4070f4;
}
 /* My Skills CSS END */


/* SKILL ICONS  */
.icon-container {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    perspective: 1000px;
}

.icon i {
    font-size: 60px;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    display: inline-block;
    color: #121212; 
}
.sn{
  color: #121212;
}

.icon i::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    transform: rotateY(180deg);
    color: transparent;
}

/* Flip effect on hover */
.icon:hover i {
    transform: rotateY(180deg);
}

/*  icon hover effects */
#css-icon:hover i { color: #0756d5; }
#html-icon:hover i { color: #e34c26; }
#js-icon:hover i { color: #a5a800; }
#python-icon:hover i {
  background: linear-gradient(to right, #4B8BBE 0%, #FFD43B 100%);
  -webkit-background-clip: text;
  background-clip: text;
    color: transparent;
}
/* SKILL ICONS END  */


/* Typing effect */
h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
}
h1 span {
  /* background: radial-gradient(circle, rgba(2,161,156,1) 0%, rgba(210,170,48,1) 100%); */
  background: linear-gradient(to bottom, #9E0000, #FF6A6A);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  -webkit-text-fill-color: transparent; 
    position: relative;
}
h1 span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: blue;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}
h1 span.stop-blinking::before {
    animation: none;
}
@keyframes blink {
    50% { opacity: 0 }
}
/* Typing effect end */

.right{
  font-size: 20px;
}





