.button {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px #dedede; 
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.resume {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  height: 10vh;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
  .button:hover {
    background: var(--bg-color);
  }

  .button:hover .button__text {
    color: transparent;
  }

  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
}

/* Mobile styles */
@media screen and (max-width: 767px) {
  .button {
    --bg-color: #a20202; 
    --font-color: #f0efef; 
    width: auto;
    padding: 10px 20px;
    background-color: var(--bg-color);
    border: none;
    box-shadow: none;
    transition: none;
  }

  .button .button__text {
    transform: none;
    padding-right: 10px;
    color: var(--font-color);
  }

  .button .button__icon {
    position: static;
    transform: none;
    width: 15px; /* Adjusted icon width */
    height: 15px; /* Adjusted icon height */
    background-color: transparent;
  }

  .button .svg {
    fill: var(--font-color); 
    width: 100%; 
    height: 100%; 
  }

  /* this removes hover effects */
  .button:hover {
    background-color: var(--bg-color);
  }

  .button:hover .button__text {
    color: var(--font-color);
  }

  .button:hover .button__icon {
    width: none;
  }

  /* this removes active state effects */
  .button:active {
    box-shadow: none;
    background-color: var(--bg-color);
  }
}


